I have used the following imports  - seaboard, sklearn, bumpy, pandas


import seaborn as sns
import pandas as pd
import matplotlib.pyplot as plt
from sklearn.neighbors import KNeighborsClassifier 
from sklearn import metrics
import numpy as np
from sklearn.metrics import classification_report, confusion_matrix, precision_score, f1_score
import math

